.link {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  font-weight: 700;
  color: white;
}

.activeLink {
  composes: link;
  color: black;
}

.link:not(:last-child) {
  margin-right: 40px;
}
